doctype html
html
  head
    link(rel='stylesheet', href='/css/SWMPClientStyles.css', type='text/css')  
    script(src='/js/jquery-3.2.0.min.js')
    script(src='/js/SWMPViewClient.js')
    script.
      var apiUrl="#{apiUrl}"; 
      var sessionID="#{sessionID}";
  body 
    div(id='gameClientWrapperGame')
      div(id='clientMinefieldMsg')
      div(id='clientMinefield')
        input(type='button', value='Scores', onclick='showTopScore()', class='swmp_3Buttons')
        input(id='showGameInfoButton', type='button', value='Info', class='swmp_3Buttons')
        input(type='button', value='New', onclick='restartGame()', class='swmp_3Buttons')
      div(id='statusWindow')  
        div(class='SWMP_status_left', id="flagsLeft")= flagsLeft 
        div(class='SWMP_status_middle', id="gameState")= gameState
        div(class='SWMP_status_right', id="timeElapsed")= timeElapsed
      br(style='clear:both')
      div(id="minefield",name="minefield") 