doctype html
html
  head
    link(rel='stylesheet', href='/css/jquery-ui.css')
    link(rel='stylesheet', href='/css/jquery-ui.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.structure.min.css')
    link(rel='stylesheet', href='/css/jquery-ui.theme.css')
    link(rel='stylesheet', href='/css/SWMPClientStyles.css', type='text/css')  
    link(href='https://fonts.googleapis.com/css?family=Cinzel|Averia+Sans+Libre|Purple+Purse', rel="stylesheet")
    script(src='/js/jquery-3.2.0.min.js')
    script(src='/js/SWMPGameClient.js')
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.js')
    script.
      var sessionID="#{sessionID}";
      var apiUrl="#{apiUrl}"; 
      setMinefield(!{JSON.stringify(mineField)});
  body 
    div(id='gameClientTitle') New attack plan
    br
    div(id='gameClientWrapperSetup')  
      div(id='gameClientForm')
        form
          div
            input(type='button', value='beginner', onclick='fillInValues(8,8,10)', class='swmp_3Buttons')
            input(type='button', value='intermediate', onclick='fillInValues(16,16,40)', class='swmp_3Buttons')
            input(type='button', value='expert', onclick='fillInValues(16,32,99)', class='swmp_3Buttons')
          br(style='clear:both')
          div
            div(class='SWMP_content')
              input(id='name', type='text', value='New Name', name='name', class='swmp_largeInput')
            div(class='SWMP_label', id='player_label') name 
          br(style='clear:both')
          div
            div(class='SWMP_content')
              input(id='rows', type=number, value='10', name='rows', min=1, max =16, class='swmp_largeInput')
            div(class='SWMP_label', id='player_label') Size 
          br(style='clear:both')
          div
            div(class='SWMP_content')
              input(id='cols', type=number, value='10', name='cols', min=1, max =16, class='swmp_largeInput')
            div(class='SWMP_label', id='player_label') x 
          br(style='clear:both')
          div 
            div(class='SWMP_content')
              input(id='bombs', type=number, value='10',name='bombs', min=1, max =14, class='swmp_largeInput')
            div(class='SWMP_label', id='bombs_label') Barrels
          br(style='clear:both')
          br
          div
            input(type='button', value='my scores', onclick='showGamePlay()', class='swmp_3Buttons')
            input(type='button', value='high score', onclick='alert("hi")', class='swmp_3Buttons')
            input(type='button', value='attack !', onclick='startGame()', class='swmp_3Buttons')
    div(id='gameClientWrapperGame', style='display:none')
      div(id='clientMinefieldMsg')
      div(id='clientMinefield')
        input(type='button', value='Scores', onclick='showTopScore()', class='swmp_3Buttons')
        input(id='showGameInfoButton', type='button', value='Info', class='swmp_3Buttons')
        input(type='button', value='New', onclick='restartGame()', class='swmp_3Buttons')
      div(id='statusWindow')  
        div(class='SWMP_status_left', id="flagsLeft")= flagsLeft 
        div(class='SWMP_status_middle', id="gameState")= gameState
        div(class='SWMP_status_right', id="timeElapsed")= timeElapsed
      br(style='clear:both')
      div(id="minefield",name="minefield")   
    div(id='gamePlays', style='display:none')
      p loading gameplays
    div(id='dialogGameInfo',title='Booze Clues .. how to.')
      h3 How could a game with numbers and boxes be so amazingly difficult? 
      div Welcome detective,  the goal of your BoozeClues attack plan (like Minesweeper) is to find where all the booze barrels (bombs) are within a specific region, so we can raid them later and arrest those filthy criminals. 
        p If you think a booze factory is situated in a position click right to tag the place and show a gun on that square, this tells the police where to raid. 
        p Right click again to show a cap, telling the place needs more research, right click once more to remove the cap. 
        p To help you, the game shows a number in a square which tells you how many booze barrels (mines) there are adjacent to that square. 
        p You win when all the empty places (and numbered places) are revealed or all the booze barrels are tagged with a gun. 
        p So basically, Your task is to work out where the booze is without, revealing yourself. 
        p don't blow it
    div(id='dialogGoodJobKid',title='You win ... Good Job Kid.')
      img(src='../img/goodjobKid.png',class='goodJobImg')
    div(id='dialogBadJobKid',title='You fail ... Get him boys!')
      img(src='https://upload.wikimedia.org/wikipedia/commons/7/7d/Jack_Holt_in_Holt_of_the_Secret_Service.jpg',class='badJobImg')
      
          